---
import {
  MENU_INTENT_CARDS,
  MENU_CONSULTATIONS_ANCHOR,
  MENU_CONSULTATION_HELP_LEAD,
  MENU_CONSULTATION_HELP_COPY,
  MENU_CONSULTATION_HELP_CTA,
} from "../../data/menu-config";
---

<div class="menu-intent" data-menu-intent>
  {
    MENU_INTENT_CARDS.map((card) => (
      <article class="menu-intent__card">
        <h2 class="menu-intent__title">{card.title}</h2>
        <p class="menu-intent__description">{card.description}</p>
        <a
          class="menu-intent__cta"
          href={`#${card.targetId}`}
          data-menu-intent-link={card.targetId}
          data-analytics-action={card.analyticsAction}
        >
          {card.cta}
        </a>
      </article>
    ))
  }
</div>

<aside class="menu-consult-help" data-menu-consult-help>
  <p class="menu-consult-help__text">
    <strong>{MENU_CONSULTATION_HELP_LEAD}</strong>
    {" "}
    {MENU_CONSULTATION_HELP_COPY}
  </p>
  <a
    class="menu-consult-help__cta"
    href={`#${MENU_CONSULTATIONS_ANCHOR}`}
    data-menu-intent-link={MENU_CONSULTATIONS_ANCHOR}
    data-analytics-action="intent-consultation"
  >
    {MENU_CONSULTATION_HELP_CTA}
  </a>
</aside>
